@import url("https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&family=Baloo+2:wght@400..800&family=Baloo+Bhai+2:wght@400..800&family=Baloo+Da+2:wght@400..800&family=Baloo+Paaji+2:wght@400..800&family=Baloo+Tamma+2:wght@400..800&family=Eater&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.navBar {
  height: clamp(46px, 10vh, 56px);
  width: 100vw;
  background-color: rgb(135, 137, 138);
  font-family: "Baloo Paaji 2", sans-serif;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

#spLogo {
  height: 70%;
  width: auto;
  margin-left: 1rem;
}

#spText {
  font-size: 116%;
  font-weight: 600;
}

#homeIcon {
  font-size: 140%;
  cursor: pointer;
}

.searchBarCover {
  height: 76%;
  width: 36%;
  position: relative;
}

#searchIcon {
  position: absolute;
  z-index: 1;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
}

#searchBar {
  height: 100%;
  width: 100%;
  font-size: 92%;
  position: absolute;
  border-radius: 1.5rem;
  padding: 0 2.5rem;
}

.container {
  min-height: calc(100vh - clamp(46px, 10vh, 56px));
  width: 100vw;
}

.hero {
  height: calc(100vh - clamp(46px, 10vh, 56px) - clamp(60px, 14vh, 74px));
  width: 100vw;
  background-image: url(bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

.musicList {
  width: 60vw;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 4px;
  font-family: "Baloo Bai 2", sans-serif;
  flex: 1;
  overflow-y: auto;
  gap: 0.8rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.musicList::-webkit-scrollbar {
  display: none;
}

.m {
  height: 3rem;
  width: 92%;
  position: relative;
  font-size: 1.2rem;
  border: 0.15rem solid #538480;
  box-shadow: 0.1rem 0.1rem 0.3rem white;
  color: white;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.m img {
  width: clamp(0.8rem, 14vw, 2.8rem);
  border-radius: 999px;
  margin-right: auto;
  margin-left: 0;
}

.mt {
  width: 70%;
  font-size: 0.8rem;
  padding-left: 1rem;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.mt::-webkit-scrollbar {
  display: none;
}

.m i {
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: 1rem;
  cursor: pointer;
}

.advTools {
  width: 40vw;
}

.addSongLable {
  height: 2rem;
  width: 3rem;
  border: 0.05rem solid white;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 50%;
  font-weight: 600;
  box-shadow: 0 0 0.3rem rgb(255, 255, 255);
  position: absolute;
  right: 0.8rem;
  bottom: 6rem;
  background-color: rgb(145, 169, 255);
  font-family: "Baloo Da 2";
}

.bottom {
  height: clamp(60px, 14vh, 74px);
  width: 100vw;
  background-color: rgb(135, 137, 138);
  position: sticky;
  bottom: 0;
  font-family: "Baloo Da 2";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: clamp(4px, 2vh, 8px);
}

#musicRange {
  width: 90vw;
  height: clamp(2px, 3vh, 6px);
  cursor: pointer;
  transition: value 0.3s linear;
}

#musicGif {
  height: 1.2rem;
  width: auto;
  border-radius: 5px;
  opacity: 0;
  transition: all 0.5s ease;
}

.musicName {
  font-size: 1rem;
  font-weight: 500;
  width: 180px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.musicName span {
  display: inline-block;
  white-space: nowrap;
}
@keyframes move {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.icon-1,
.icon-2,
.icon-3 {
  cursor: pointer;
}

.mc {
  max-width: 90vw;
  display: flex;
}

.ct01 {
  width: auto;
  position: absolute;
  left: clamp(22px, 8vw, 90px);
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.ct02 {
  font-size: 1.3rem;
  display: flex;
  gap: 1.8rem;
  margin-top: 5px;
}

.ct03 {
  width: auto;
  position: absolute;
  right: clamp(22px, 8vw, 90px);
  top: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
}

@media screen and (max-width: 840px) and (min-width: 640px) {
  #searchBar {
    width: 150%;
  }
  .musicList {
    width: 68vw;
  }
  .advTools {
    width: 32vw;
  }
  .musicName {
    display: none;
  }
}

@media screen and (max-width: 639px) and (min-width: 540px) {
  .advTools {
    width: 28vw;
  }
  .musicList {
    width: 72vw;
  }
  .musicName {
    display: none;
  }
}

@media screen and (max-width: 539px) and (min-width: 340px) {
  #searchBar {
    width: 114%;
  }
  .advTools {
    width: 20vw;
  }
  .musicList {
    width: 80vw;
  }
  .musicName {
    display: none;
  }
  .addSongLable {
  }
}

@media screen and (max-width: 339px) {
  .advTools {
    width: 14vw;
  }
  .musicList {
    width: 86vw;
  }
  .musicName {
    display: none;
  }
  .addSongLable {
  }
}
